# 1.

Megjeleníti, hány munkahely óradíja van a 300 és 400 közötti intervallum alatt, benne és felette.

In [38]:
DECLARE 
@min int = 300,
@max int = 400;   
SELECT 
    SUM(CASE WHEN oradij < @min THEN 1 ELSE 0 end) AS 'tartomany alatt',
    SUM(CASE WHEN oradij BETWEEN @min and @max THEN 1 ELSE 0 end) AS 'tartomanyon belul',
    SUM(CASE WHEN oradij > @max THEN 1 ELSE 0 end) AS 'tartomany felett'
FROM munka

tartomany alatt,tartomanyon belul,tartomany felett
6,29,6

# 2.

Óradíjak gyakorisága.

In [34]:
SELECT oradij,
       COUNT(*) AS db
FROM munka
WHERE oradij IS NOT NULL
GROUP BY oradij
ORDER BY oradij DESC

oradij,db
500,3
450,3
400,12
350,3
300,14
250,2
200,4

# 3.

Óradíj minimuma, maximuma, átlaga és szórása.

In [20]:
SELECT MIN(oradij) AS min,
       MAX(oradij) AS max,
       AVG(oradij) AS atlag,
       STDEV(oradij) AS szoras
FROM munka
WHERE oradij IS NOT NULL

min,max,atlag,szoras
200,500,346,"82,4547178019844"

# 4.

Állásnevek száma hossz szerint.

In [72]:
SELECT LEN(allas) AS hossz,
       count(*) AS darab
FROM munka
GROUP BY LEN(allas)
ORDER BY hossz DESC

hossz,darab
26,1
9,8
8,17
6,2
5,13

# 5.

Állásnevek gyakorisága.

In [56]:
SELECT TOP 10
    allas, 
    COUNT(*) darab
from munka
WHERE allas IS NOT NULL
GROUP BY allas
ORDER BY COUNT(*) DESC

allas,darab
eladó,12
takarító,9
ruhatáros,6
kisegítő,4
raktáros,4
pincér,2
kézbesítő,2
ügyfélszolgálati munkatárs,1
futár,1

# 6.

Állások, mint egyedi értékek.

In [2]:
SELECT COUNT(DISTINCT allas) AS 'allasnevek szama'
FROM munka
WHERE allas IS NOT NULL

allasnevek szama
9

# 7.

3 legrövidebb állásnév.

In [69]:
SELECT TOP 3 allas AS szoveg, 
        LEN(allas) AS hossz
FROM munka
GROUP BY allas
ORDER BY hossz ASC

szoveg,hossz
futár,5
eladó,5
pincér,6